*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

body{
    background: url(img/bg4.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    
}

/* header css */
.nav{
    width: 100vw;
    height: 50px;
   
   
    /* filter: blur(2px); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* position: fixed; */
    position: fixed;
    z-index: 2;

    background: rgb(0, 0, 0,0.7);
    backdrop-filter: blur(8px);
    /* border-bottom: 15px dotted black; */
    

   
}
.bar-1{
    /* background-color: red; */
    height: 50px;
    width: 45%;
    padding:0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logo img{
    width: 30px;
    height: 30px;
    /* margin-left: 100px ; */
    border-radius: 50px;
    filter: invert(1);
    transition: 2s;

    
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
       
    }
    100%{
        transform: rotate(720deg);
    }
}

.name{
    width: 40vw;
    height: 50px;
    /* margin: auto; */
    /* background: red; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.name h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.8s;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 2rem;
}
.name h1:hover{
    letter-spacing: 14px;
}
.box{
    width: 50vw;
    height: 50px;
    margin-right: 0px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(0, 0, 0, ); */
    

   
}
.nav_items{
    width: 20%;
    height: 70px;
    font-size: 0.59rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s; 
}
.nav_i img{
    width: 20px;
    height:20px;
    cursor: pointer;
    display: none;
    
}
.nav_items h2,a{
    
    font-family: sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    color: white;
    text-decoration: none;
    
    
}
.nav_items h2:hover{
    color: rgb(255, 174, 34);
    
}


.dropdown{
    /* height: 20px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 35px;

}
.dropbtn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.87rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.dropdown-content{
    display: none;
    margin-top: 25px;
    background: rgb(255, 255, 255,0.7);
    width: 100px;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.4s;

}
.dropdown:hover .dropdown-content{display: block;}
.dropdown-content a:hover {
    background-color:rgb(255, 174, 34);
    color: white;
}

.dropdown:hover .dropbtn {color: rgb(255, 174, 34);}

/* home css */
 .blank{
    width: 100vw;
    height: 50px;
 } 

 
.home{
    width: 100vw;
    height: 69vh;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.home h1{
    width: 80vw;
    height: 200px;
    text-align: center;
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    transition: 2s;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 30px;
    /* animation-name: letter-spacing; */
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
    
}    
@keyframes letter-spacing{
    0%{
        letter-spacing: 10px;
    }
    50%{
        letter-spacing: 30px;
        /* color:transparent; */
    }
    100%{
        letter-spacing: 10px;
    }
}
/* .home h1:hover{
    letter-spacing: 100px;
  
} */

.home h2{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.s-btn{
    width: 55vh;
    display: flex;

    justify-content: space-evenly;
    align-items:center;
    position: relative;
    top: 73px;
    
}
.s-btn button{
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: black;
    transition: 0.5s;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.s-btn button:hover{
    background: rgb(57, 57, 57);
}
.triangle-down {
	width: 100vw;
	height: 200px;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 200px solid rgba(255, 255, 255, 0.7);
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
}

.triangle-down img{
    height: 50px;
    width: 30px;
    position: relative;
    bottom: 32px;
    right: 15px;

    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0%{
        bottom: 32px;
    }
    33%{
        bottom: 17px;
    }
    66%{
        bottom: 17px;
    }
    100%{
        bottom: 32px;
    }
}


/* section css */


.box_2{
    width: 100vw;
    height: 80vh;
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.bar{
    margin-top: 100px;
    width: 100vw; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255 , 0.8);

}

.bar h1{
    margin-left: 50px;
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase; 
    text-align: center;  
}
.sub_box{
    width: 350px;
    height: 500px;
    background: rgb(255, 255, 255 , 0.25);
    border-radius: 20px;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;   
    margin: 50px 50px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.cat img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    /* opacity: 0.9; */
    /* overflow: hidden; */
    /* position: relative;
    left: 0px;
    top: 0px; */
}
.sub_box h3{
    /* margin-left: 30px; */
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
}
.sub_box h3:hover{
    color: rgb(161, 161, 161);
}

.sub_box p {
    height: 100px;
    width: 17vw;
    /* margin: 0 50px; */
    padding: 11px;
    color: white;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    
}

/* sec 2 css */


.box_3{
    width: 100vw;
    height: 100vh;
    
    /* background-image:url(img/bg3.jpg); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}

.table-head{
    width: 100vw;
    height: 70px;
    margin-top: 60px;
    /* background:red; */
    position: relative;
     
}

.table-head h3{
    font-family: Bakbak One;
    font-size: 3rem;
    font-weight: 400;
    color: white;
    text-align: center;
}

.time-table{
    width: 60vw;
    height: 600px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.week {
    width: 750px;
    height: 450px;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
   
}

.week tr th {
    width: 700px;
    text-align: start;
}

/* sec3 css */

.box_4{
    width: 100vw;
    height: 100vh;
    /* background-image: url(img/bg5.jpg); */
    background-size: cover;
    padding-top: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.head h3{
    width: 300px;
    height: 80px;
    background: rgba(0, 0, 0, 0.671);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 25px;
    font-family: Bakbak One;
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
    text-align: center;
    /* margin-left: 100px; */
    /* padding-left: 100px; */
    /* background: rgb(17, 30, 39, 0.6); */
}

.info{
    width: 60vw;
    height: 77%;
    background: rgba(255, 255, 255, 0.269);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}

.img-z{
    width: 33%;
    height: 90%;
    background-image: url(img/zumba2.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 15px;

}
.img-b{
    width: 33%;
    height: 90%;
    background-image: url(img/bhangra.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 15px;
}

.img-boxing{
    width: 33%;
    height: 90%;
    background-image: url(img/boxing.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 15px;
}
.info-z{
    width: 57%;
    height: 90%;
    background: rgba(0, 0, 0, 0.694);
    color: white;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.add-btn{
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: green;
    transition: 0.5s;
    position: relative;
    top: 50px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.add-btn:hover{
    background: rgb(1, 151, 1);
}



/* footer css */

.footer{
    width: 100vw;
    height: 80vh;
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tri{
    width: 100vw;
	height: 200px;
	border-left: 50vw solid rgba(255, 255, 255, 0.7);
	border-right: 50vw solid rgba(255, 255, 255, 0.7);
	border-top: 200px solid transparent;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
}

.foot{
    width: 100vw;
    height: 800px;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.row1{
    width: 70vw;
    height: 120px;
    /* background:red; */
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.items2{
    width: 33%;
    height: 100px; 
    /* background: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon1{
   width: 80px;
   height: 80px;
   /* background:white; */
   display: flex;
   justify-content: center;
   /* background: #000; */
   
}
.icon1 img{
    width: 33px; 
    height: 31px;
    position: relative;
    top:0px;

    animation-name: updown;
    animation-timing-function:ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes updown{
    0%{
        top: 0px;
    }
    33%{
        top: 7px;
    }
    66%{
        top: 7px;
    }
    100%{
        top:0px;
    }
}

.cont{
    width: 388px;
    height: 80px;
    /* background: white; */
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cont hr{
    border-top: 1px solid black;
}

.row2{
    width: 80vw;
    height: 300px;
    /* background:blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-head{
    width: 70vw;
    height: 100%;
    /* background: #000; */
    padding: 0 102px;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.f-head h1{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.f-head h1:hover{
   color: rgb(57, 57, 57); 
}
.f-head h2{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.f-head p{
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.holders{
    width: 30%;
    height: 100%;
    /* background:red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon2{
    width: 40px;
    height: 40px;
   /* background:white; */
   display: flex;
   justify-content: center;
   /* background: #000; */
   cursor: pointer;
   

}
.foot-nav{
    display: none;
}
.nav_items img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}
#icon{
    height: 20px;
    width: 25px;
}