@media screen and (max-width:1200px) and (min-width:600px){
    .nav{
        height: 50px;
    }
    .bar-1{
        width: 100vw;
        justify-content: space-between;
    }
    .box{
        display: none;
    }
    .nav_i img{
        display: block;
    }
    /* .nav_i img:hover{
        
    } */
    .triangle-down{
        border-top: 190px solid rgba(255, 255, 255, 0.7);
    }
    .triangle-down img{
        height: 20px;
        
    }

    .box_2{
        height: 1800px;
    }
    .bar h1{
        font-size: 3rem
    }
    .sub_box{
        width: 70%;
        height: 350px;
        flex-direction: row;
    }
    
    .cat{
        width: 78%;
        display: flex;
        justify-content: center;
    }
    .cat img{
        width: 350px;
        height:260px;
        position: relative;
        bottom: 10px;
    }
    .cat2{
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* justify-content: space-around; */
    }
    .cat2 p{
        width: 0%;
        /* background: #000; */
        position: relative;
        left: 35px;
    }
    .sub_box h3{
        font-size: 1.4rem;
    }
    .sub_box p{
        width: 80%;
        height: 130px;
        font-size: 14px;
    }
    .time-table{
        width: 80vw;
        height: 550px;
    }
    .head h3{
        height: 70px;
        font-size: 3rem;
    }
    .info{
        width: 80vw;
        height: 470px;
    }
    .info-z{
        font-size: 1rem;
    }
    .row1{
        width: 87vw;
    }
    .row2{
        width:87vw ;
    }
}

@media screen and (max-width:1600px) and (min-width:1200px){
    .triangle-down{
        border-top: 200px solid rgba(255, 255, 255, 0.7);
    }
    .triangle-down img{
        /* display: none; */
        height: 18px;
    }

    .box_2{
        height: 1000px;
    }
    .bar h1{
        font-size: 3rem
    }
    .sub_box{
        width: 270px;
        height: 470px;
    }
    .cat img{
        width: 230px;
        height:230px;
        position: relative;
        bottom: 10px;
    }
    .sub_box h3{
        font-size: 1.4rem;
    }
    .sub_box p{
        height: 130px;
        font-size: 14px;
    }
    .time-table{
        width: 60vw;
        height: 410px;
    }
    .week{
        font-size: 1.5rem;
        height: 350px; ;
    }
    .head h3{
        height: 70px;
        font-size: 3rem;
    }
    .info{
        width: 72vw;
        height: 470px;
    }
    .info-z{
        font-size: 1rem;
    }
    .row1{
        width: 87vw;
    }
    .row2{
        width:87vw ;
    }

}

@media screen and (max-width:600px){
    
    .nav{
        height: 50px;
        /* background-color: red; */
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
        background:rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
        position: fixed;
        z-index: 1;
    }
    .bar-1{
        justify-content: space-between;
        width: 100%;
        background:rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(0px);
        position: fixed;
        z-index: 2;
    }
    .box{
        display: none;
    }
    .foot-nav{
        width: 100%;
        height: 60px;
        background: rgb(0, 0, 0,0.7);
        position: fixed;
        z-index: 2;
        bottom: 0px;
        padding: 0 30px;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        display: flex;
    }
   
    .nav_i img{
        display: block;
    }
    /* .nav_i img:hover{
        
    } */
    .nav_items img {
        width:  25px;
        height: 25px;
        filter: invert(1);
        cursor: pointer;
        transition: 0.2s;
    }

    #icon{
        height: 22px;
        width: 25px;
    }
    .nav_items img:hover{
        height: 22px;
        width: 22px;
        filter:invert(1) brightness(0.60);
    }
   

    .home{
        height: 600px;
    }
    .name h1:hover{
        letter-spacing: 3px;
    }
    .triangle-down{
        border-top: 130px solid rgba(255, 255, 255, 0.7);
        height: 135px;
        
    }
    .triangle-down img{
        display: block;
        height: 20px;
        position: relative;
    }
    .home h1{
        font-size: 3.9rem;
    }
    .home h2{
        font-size: 1.5rem;
    }
    .s-btn{
        flex-direction: column;
        height: 200px;
    }
    .s-btn button{
        width: 50vw;
        letter-spacing: 5px;
        font-weight: 500;
    }




    .box_2{
        height: 2000px;
    }
    .bar{
        width: 90vw;
    }
    .bar h1{ 
          font-size: 2.5rem
    }
    
    .sub_box{
        width: 270px;
        height: 470px;
        
    }
    .sub_box p{
        width: 180px;;
    }
    .cat img{
        width: 230px;
        height:230px;
        position: relative;
        bottom: 10px;
    }
    .sub_box h3{
        font-size: 1.4rem;
    }
    .sub_box p{
        height: 130px;
        font-size: 14px;
    }


    .table-head h3{
        font-size: 2.5rem;
    }
    .time-table{
        width: 80vw;
        height: 550px;
    }
    .week{
        width: 70%;
        font-size: 1.5rem;
    }
    .td{
        font-size: 1.1rem;
        width: 50%;
        height: 60px;
    }
    .week tr th {
        width: 700px;
        height: 80px;
        text-align: start;
    }
    

    .box_4{
        height: 1500px;
    }
    .head h3{
        height: 50px;
        font-size: 2rem;
    }
    .info{
        width: 80vw;
        height: 1000px;
        flex-direction: column;
    }
    .img-z{
        width: 70vw;
        height: 400px;
    }
    .img-b{
        width: 70vw;
        height: 400px;
    }
    .img-boxing{
        width: 70vw;
        height: 400px;
    }
    .info-z{
        font-size: 1rem;
        width: 70vw;
        height: 500px;
    }
    .add-btn{
        top: 40px;
    }


    .footer{
        height: 1100px;
        /* background: green; */
        padding-bottom: 80px 0;
        
    }
    .foot{
        height: 850px;
        flex-direction: column-reverse;
        justify-content: space-between;
        /* background:pink; */
        background: rgba(255, 255, 255, 0.7);
        
    }
    .tri{
        border-top: 100px solid transparent;
    }
    .row1{
        /* background: yellow; */
        height: 350px;
        width: 90%;
        flex-direction: column;
    }
    .items2{
        width: 70%;
    }

    .row2{
        width:90vw ;
        height: 500px;
        /* background: red; */
        flex-direction: column;
    }
    .f-head{
        padding: 0;
        justify-content:center;

    }
    .f-head h1{
        text-align: center;
        font-size: 2.5rem;
    }
    .f-head p{
        font-size: 0.8rem;
    }
    .holders{
        width: 90%;
    }
}